html {
  scroll-behavior: smooth;
  position: absolute;
}

.navigation {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0b065;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: 1s;
}

body {
  margin: 0%;
  width: 100%;
  background: linear-gradient(
    rgba(140, 203, 255, 1) 0%,
    rgba(28, 147, 245, 1) 100%
  );
}

.navigation ul {
  overflow: hidden;
  margin: 0;
}

.navigation li {
  font-size: 22px;
  padding: 20px;
  float: right;
  display: inline;
  transition: 1.2s;
}

.navigation li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 15px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.navigation li:hover {
  background-color: #1194ff;
}

.welcome_message {
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 40px;
  border-style: dotted;
  border-radius: 25px;
  margin: 150px;
  padding: 0px;
  transition: 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome_message:hover {
  transform: scale(1.1);
}

.navigation ul .logo:hover {
  background-color: #e0b065;
}

.navigation ul .logo {
  float: left;
  text-align: center;
  font-weight: bold;
}

#footer {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  padding: 30px;
  border-top: groove;
  border-color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

#about {
  background-color: #e0b965;
  color: black;
  font-family: Tahoma;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
  margin-top: 190px;
}

#about:hover {
  background-color: #cfac61;
}

#about p {
  font-size: 30px;
  line-height: 1.3;
}

#projects {
  padding-top: 40px;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: auto;
  padding: 20px;
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.project {
  transition: 1s;
}

.project img {
  width: 80%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.315),
    0 6px 20px 0 rgba(0, 0, 0, 0.308);
}

.project:hover {
  transform: scale(1.2);
}

.project a {
  color: black;
  text-decoration: none;
}

#skills {
  padding-top: 40px;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-family: sans-serif;
  text-align: center;
}

#skills ul h3 {
  text-align: center;
}

#skills li {
  padding-bottom: 10px;
  padding-right: 10px;
}

#blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.block1,
.block2 {
  width: 30%;
  border: solid 1px;
  border-radius: 25px;
  text-align: left;
  margin-left: 20px;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block1:hover,
.block2:hover {
  background-color: #e0b965cb;
}

#learn {
  padding: 12px;
  border: solid 2px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 25px;
  font-weight: bold;
}

#learn:hover {
  background-color: #e0b965;
}

#top-btn {
  padding: 12px;
  border: solid 2px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 25px;
  font-weight: bold;
  transform: translate(-70%, 0);
}

#top-btn:hover {
  background-color: #e0b965;
}

@media (max-width: 1105px) {
  .welcome_message {
    min-width: fit-content;
    max-width: fit-content;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
  }

  #about {
    font-size: 15px;
    min-width: 300px;
  }

  #about p {
    font-size: 20px;
  }

  .block1,
  .block2 {
    font-size: 14px;
    min-width: 250px;
  }

  #projects h3 {
    font-size: 2rem;
  }

  #footer {
    font-size: 5px;
    min-width: 200px;
  }
  #top-btn {
    font-size: 11px;
  }
}
